<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Email</title>
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ExternalClass,
        .ReadMsgBody {
            width: 100% !important;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        * {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-resize: 100%;
            text-resize: 100%;
        }

        a img {
            border: 0;
        }

        a {
            color: #1f1f1f;
        }

        a:hover {
            text-decoration: none !important;
        }

        .yshortcuts,
        .yshortcuts a,
        .yshortcuts a:link,
        .yshortcuts a:visited,
        .yshortcuts a:hover,
        .yshortcuts a span {
            color: #c0c0c0;
            text-decoration: none !important;
            border-bottom: none !important;
            background: none !important;
        }

        table,
        tr,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        .flexible {
            width: 100% !important;
        }

        @media only screen and (max-width: 767px) {
            table {
                height: auto !important;
            }

            table.button {
                height: 85px !important;
            }

            table,
            table td {
                box-sizing: border-box !important;
                float: none !important;
                text-align: center !important;
                width: 100% !important;
                background-position: center center !important;
                background-repeat: no-repeat !important;
            }

            table td.bg-paper {
                background: #e9e7e0 !important;
            }

            table td.indent {
                display: none !important;
            }

            td.header img {
                max-width: 405px !important;
                padding: 30px 0 !important;
                width: 75% !important;
            }

            img {
                outline: none;
                text-decoration: none;
                -ms-interpolation-mode: bicubic;
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }

            table.footer tr td {
                display: block;
                padding: 15px !important;
                width: 100% !important;
            }

            table.footer tr td img {
                height: auto !important;
                width: auto !important;
            }
        }
    </style>
</head>
<body style="width: 100% !important; margin: 0; padding: 0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;"
      bgcolor="#dddedf" link="#1f1f1f">
<style type="text/css">
    * {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-resize: 100%;
        text-resize: 100%;
    }
</style>

<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td>
            <!--[if ie]>
            <table width="1200" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td>
            <![endif]-->
            <!--[if mso]>
            <table width="1200" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td>
            <![endif]-->
            <div style="margin:0 auto; max-width:1200px; text-align: left;">
                <table class="wrapper" width="1200" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <table class="flexible" style="min-width: 100%; max-width: 100%;" cellpadding="0"
                                   cellspacing="0" border="0" height="1000" width="100%">
                                <tr>
                                    <td class="bg-paper" background="<%= email_static_path %>bg-paper.jpg" bgcolor="#dddedf" valign="top">
                                        <!--[if gte mso 9]>
                                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false"
                                                style="mso-width-percent:1000;height:1000px;">
                                            <v:fill type="tile" src="bg-paper.jpg" color="#dddedf"/>
                                            <v:textbox inset="0,0,0,0">
                                        <![endif]-->
                                        <div>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td class="indent" height="158"></td>
                                                </tr>
                                                <tr>
                                                    <td class="header" align="center">
                                                        <a href="#" target="_blank">
                                                            <img src="<%= email_static_path %>logo.png" alt="Focus logo" width="405"
                                                                 height="100" border="0">
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="indent" height="42"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding: 0 15px;">
                                                        <table width="405" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="color:#1f1f1f;padding-bottom: 10px;">
                                                                    <h1 style="font: 24px/18px Georgia, serif;">
                                                                        Здравствуй, <%= login %>!</h1>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="color:#1f1f1f;font: 13px/18px Helvetica, sans-serif;">
                                                                    Мы рады видеть тебя и поможем освоиться в Мире Sacralium.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="color:#1f1f1f;padding-bottom: 20px; font: 13px/18px Helvetica, sans-serif;">
                                                                    В твоем Инвентаре находится <a href="#"
                                                                                                   target="_blank">Мешок
                                                                        Новичка</a>, который увеличивает твой рюкзак на 50
                                                                    единиц. Мешок будет у тебя 2 недели, пока ты
                                                                    освоишься в Игре, а потом ты уже сможешь
                                                                    позаботиться о своих вещах сам.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="color:#1f1f1f;padding-bottom: 20px; font: 13px/18px Helvetica, sans-serif;">
                                                                    А сейчас, я проведу тебя по улицам CapitalCity,
                                                                    познакомлю с жителями, помогу в первом бою и научу
                                                                    пользоваться различными возможностями твоего
                                                                    персонажа.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="color:#1f1f1f;padding-bottom: 20px; font: 13px/18px Helvetica, sans-serif;">
                                                                    После выполнения нескольких моих заданий, ты станешь
                                                                    умелым Воином и получишь немалую прибыль в награду!
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"
                                                                    style="color:#1f1f1f;padding-bottom: 10px; font: 13px/18px Helvetica, sans-serif;">
                                                                    Если ты согласен - давай начнем!
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <table class="button" cellpadding="0" cellspacing="0" border="0"
                                                               height="85"
                                                               width="228">
                                                            <tr>
                                                                <td background="<%= email_static_path %>bg-button.png" align="center"
                                                                    valign="middle">
                                                                    <!--[if gte mso 9]>
                                                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                                                            fill="true" stroke="false"
                                                                            style="mso-width-percent:1000;height:1000px;">
                                                                        <v:fill type="tile" src="bg-button.png"/>
                                                                        <v:textbox inset="0,0,0,0">
                                                                    <![endif]-->
                                                                    <div>
                                                                        <a href="#" target="_blank"
                                                                           style="text-shadow:0 0 4px rgba(0,0,0,.75);color:#fff; font: 13px/35px Tahoma, sans-serif; text-decoration:none; -webkit-text-size-adjust:none;display: block;height: 35px;margin-top: -7px;margin-left: -7px;">Начать
                                                                            игру</a>
                                                                    </div>
                                                                    <!--[if gte mso 9]>
                                                                    </v:textbox>
                                                                    </v:rect>
                                                                    <![endif]-->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="footer" cellpadding="0" cellspacing="0" border="0"
                                                               width="100%">
                                                            <tr>
                                                                <td valign="bottom" width="400" align="left"
                                                                    style="padding-bottom:45px;padding-left: 157px;color: #847b77;font: 12px/18px Arial, sans-serif;">
                                                                    &copy; 2017 «Sacralium.ru»
                                                                </td>
                                                                <td width="142" height="167" align="center"><img
                                                                            width="142" height="167" src="<%= email_static_path %>img-print.png"
                                                                            alt="print"></td>
                                                                <td valign="bottom" width="400" align="right"
                                                                    style="padding-bottom:45px;padding-right: 157px;font: 12px/18px Arial, sans-serif;">
                                                                    <a href="#"
                                                                       style="color: #847b77;text-decoration: underline;">Правила
                                                                        клуба Sacralium</a></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--[if gte mso 9]>
                                        </v:textbox>
                                        </v:rect>
                                        <![endif]-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>